{% load static %}
<nav class="navbar page-header">
    <a href="#" class="btn btn-link sidebar-mobilehttps://github.com/sigit1986/ekgbbkd2.git-toggle d-md-none mr-auto">
        <i class="fa fa-bars"></i>
    </a>
    <a class="navbar-brand" href="#">
        <img src="{% static 'pagestatic' %}/assets/images/logo.png" alt="logo">
    </a>
    <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'pagestatic' %}/assets/images/noavatar.png" class="avatar avatar-sm" alt="logo">
                <span class="small ml-1 d-md-down-none">{{user.username}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="{% url 'logout' %}" class="dropdown-item">
                    <i class="fa fa-lock"></i> Keluar
                </a>
            </div>
        </li>
    </ul>
</nav>
    