<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Menu</li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">
                     <i class="icon icon-screen-desktop"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'riwayatkgb' %}" class="nav-link">
                        <i class="icon icon-chart"></i> Riwayat KGB
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'riwayatpangkat' %}" class="nav-link">
                        <i class="icon icon-graph"></i> Riwayat Pangkat
                    </a>
                </li>
            {% endif %}

            {%if user.is_authenticated and user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'riwayatpangkat' %}" class="nav-link">
                        <i class="icon icon-people"></i> Data Pegawai
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'riwayatpangkat' %}" class="nav-link">
                        <i class="icon icon-user-following"></i> Daftar Nominatif
                    </a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a href="#" class="nav-link nav-dropdown-toggle">
                        <i class="icon icon-refresh"></i> Proses Berkala <i class="fa fa-caret-left"></i>
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a href="<?php echo site_url('konfigurasi-sk'); ?>" class="nav-link">
                                <i class="icon icon-share-alt"></i> Usulan Berkala
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'riwayatpangkat' %}" class="nav-link">
                        <i class="icon icon-info"></i> Status KGB
                    </a>
                </li>
            {% endif %}
            {%if user.is_authenticated and user.is_superuser %}
            <li class="nav-item">
                <a href="<?php echo site_url('laporan" class="nav-link">
                    <i class="icon icon-book-open"></i> Laporan
                </a>
            </li>
            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-options-vertical"></i> Master <i class="fa fa-caret-left"></i>
                </a>
                <ul class="nav-dropdown-items">
                    detail                    </li>
                </ul>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="<?php echo site_url('gaji-pokok" class="nav-link">
                            <i class="icon icon-layers"></i> Gaji Pokok
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div>
</div>
{%endif %}
