{% extends 'base.html' %}
{% block content %}
{% for i in json_str %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header bg-light">
            Nominatif Manual
        </div>
        <div class="card-body">
            <form class="row" id="tambah-nominatif-form" method="post" action="">
				<div class="col-md-2">
					<img src="<?php echo base_url();?>foto/?>" class="img-thumbnail" width="155px" height="150px">
                    <br>
                    <div class="form-group">
                        <label class="form-control-label">NIP</label>
						<input id="jnsjab" name="nip" class="form-control" value="{{ i.nip }}" readonly />
                    </div>
				</div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="namaasn" class="form-control-label">Nama :</label>
                        <input id="namaasn" name="nama" class="form-control" value="{{ i.name }}" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Jenis Jabatan</label>
						<input id="nip" name="nip" class="form-control" value="{{ i.jenis_jabatan }}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="jabterakhir" class="form-control-label">Jabatan Terakhir :</label>
                        <input id="jabterakhir" name="nama" class="form-control" value="{{ i.jabatan_data }}" readonly />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="golterakhir" class="form-control-label">Pangkat/Golong Terakhir :</label>
                        <input id="golterakhir" name="pangol" class="form-control" value="{{ i.golongan_terakhir }}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="skpdasn" class="form-control-label">SKPD :</label>
                        <input id="skpdasn" name="skpd" class="form-control" value="{{ i.opd }}" readonly />
                    </div>
                     <div class="form-group">
                        <label for="pendidikanterakhir" class="form-control-label">Pendidikan Terakhir :</label>
                        <input id="pendidikanterakhir" name="skpd" class="form-control" value="{{ i.Level_Pendidikan }}" readonly />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tmptlahir" class="form-control-label">Tempat Lahir :</label>
                        <input id="tmptlahir" name="pangol" class="form-control" value="{{ i.tempat_lahir }}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="jnsklmn" class="form-control-label">Jenis Kelamin :</label>
                        <input id="jnsklmn" name="skpd" class="form-control" value="{{ i.jenis_kelamin }}" readonly />
                    </div>
                    <div class="form-group">
                        <label for="tmtpns" class="form-control-label">TMT PNS :</label>
                        <input id="tmtpns" name="skpd" class="form-control" value="{{ i.tmt_pns }}" readonly />
                    </div>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}