{% extends 'base.html' %}
{% block content %}

<div class="col-md-12">
    <div class="card-header bg-light">
        Riwayat Pangkat
        <hr>
        Nama : Sigit Eka Karsa
        <br>
        NIP  : 198612172011011003
    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Jenis Kenaikan Pangkat</th>
                        <th>Nomor SK</th>
                        <th>Tanggal</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Reguler</td>
                            <td>S-10225/BKD-2.2/III/2012</td>
                            <td>01-01-2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}