{% extends 'base.html' %}
{% block content %}
<div class="table-responsive">
    <div class="card-header">
        <strong class="card-title">Table Head</strong>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Open this select menu</option>
            {% for i in opd%}
            <option value="1">{{i.nama}}</option>
            {% endfor %}
          </select>
    </div>
    <div class="card-body">
    <table class="table">
    <thead class="thead-dark">
    <tr>
    <th scope="col">Nomor</th>
    <th scope="col">Nama OPD</th>
    <th scope="col">Kepela Opd</th>
    </tr>
    </thead>
    <tbody>  
        {% for i in opd%}
    <tr>
        <td>{{ forloop.counter }}</td>  
        <td>{{i.nama}}</td>
        <td>{{i.kepala_opd}}</td>
    </tr>
    {%endfor%}
    </tbody>
    </table>
    </div>
    </div>
    
{% endblock %}  